#card1, #card2, #card3{
    width: 34rem;
}
#contImagenNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagen_historia_adopcion{
    height: 170px;
    border-radius: 8px;
}
#imagenNosotros{
    height: 170px;
    border-radius: 8px;
}